.img-fluid{
    max-width:300px;
    width: auto;
}

/* 
.skillpoints{
    gap: 67px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 53px;
} */

.H{
    /* width: 130px;
    height: 60px; */
    border-radius: 10px 2px;
    align-items: center;
    /* text-align: center; */
    background: #131313;
    color: #f1f1f1;
    /* justify-content: center; */
}

.C{
    width: 130px;
    height: 60px;
    border-radius: 10px 2px;
    align-items: center;
    text-align: center;
    background: #131313;
    color: #f1f1f1;
    justify-content: center;
}

.J{
    width: 130px;
    height: 60px;
    border-radius: 10px 2px;
    align-items: center;
    text-align: center;
    background: #131313;
    color: #f1f1f1;
    justify-content: center;
}

.B{
    width: 130px;
    height: 60px;
    border-radius: 10px 2px;
    align-items: center;
    text-align: center;
    background: #131313;
    color: #f1f1f1;
    justify-content: center;
}

.JV{
    width: 130px;
    height: 60px;
    border-radius: 10px 2px;
    align-items: center;
    text-align: center;
    background: #131313;
    color: #f1f1f1;
    justify-content: center;
}

.P{
    width: 130px;
    height: 60px;
    border-radius: 10px 2px;
    align-items: center;
    text-align: center;
    background: #131313;
    color: #f1f1f1;
    justify-content: center;
}

footer{
    text-align: center;
    background-color: #131313;
    color: #f1f1f1;
    padding: 20px;
}